# this is the file # Ignore everything
/*
auth/__pycache__
db/__pycache__
models/__pycache__
routes/__pycache__


# Unignore the .vscode directory and specific files
!main.py
!routes.py
!models.py
!database.py
!.gitignore
!commands.txt
!requirements.txt
!backend/__init__.py
!auth
!db
!models
!routes